html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#intro {
    display: flex;
    width: 100%;
    height: 30px;
}

#tag {
    width: 200px;
    height: 75px;
}

.nr {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    width: 90%;
    padding-left: 10%;
    justify-content: center;
}

.message {
    display: flex;
    width: 90%;
    padding-left: 10%;
    padding-top: 5%;
    height: auto;
    flex-direction: column;
    align-items: center;
}